.projects {
  padding-top: 20px;
  background: rgba($white, 0.09);
  overflow: hidden;
}

.projects-container .section-title {
  text-align: center;
}

.project {
  @include container();
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}

.project-title {
  color: $yellow;
  position: relative;
  z-index: 999;
}

.project-container.gcc {
  background: url('img/GCC-web-development.jpg') center center no-repeat fixed;
  background-size: cover;
}

.project-container.parts {
  background: url('img/parts.jpg') center center no-repeat fixed;
  background-size: cover;
}

.project-container.best {
  background: url('img/computer.jpg') center center no-repeat fixed;
  background-size: cover;
}