<template name="styleguide">
  <h1>Syleguide</h1>

  <div class="articles-content">
    <h1>Header Element Style</h1>
    <h2>Header Element Style</h2>
    <h3>Header Element Style</h3>
    <h4>Header Element Style</h4>
    <h5>Header Element Style</h5>
    
    <p>Lorem ipsum dolor sit amet, <strong>bold text</strong> elit. Cum, adipisci, nihil, mollitia, facere inventore laudantium maxime nobis ratione voluptatum placeat doloribus sit neque dolorum ex et tempore iste sunt vel.</p>

    <a href="#0" class="button">Read More</a>

    <blockquote>When I ask questions, <strong>I’m not testing you, I’m trying to understand how well the app is designed.</strong> Please remember that the goal here is to see how well the app is explaining itself. So don’t feel like you should know all the answers.</blockquote>

    <ul class="colors">
      <li class="color blue">$blue: #7BBADE</li>
      <li class="color green">$green: #93DE7F</li>
      <li class="color yellow">$yellow: #FFED5D</li>
      <li class="color orange">$orange: #F29E4A</li>
      <li class="color red">$red: #FF7050</li>
    </ul>

    <ul class="colors">
      <li class="color-alt blue">$blue: #7BBADE</li>
      <li class="color-alt green">$green: #93DE7F</li>
      <li class="color-alt yellow">$yellow: #FFED5D</li>
      <li class="color-alt orange">$orange: #F29E4A</li>
      <li class="color-alt red">$red: #FF7050</li>
    </ul>

  </div>



</template>